table{
border-collapse: collapse;
border:2px solid #0e0c0c;
letter-spacing: 0.8px;
}
td{
    padding: 8px 10px;
    
}
td{
    text-align: center;
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black; 
}